// Google font is already loaded in app/views/layouts/application.html.erb
// <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">

// Define fonts for Bootstrap and app
$body-font: "Poppins", "Helvetica", "sans-serif";
$headers-font: "Poppins", "Helvetica", "sans-serif";

// Design system alias
$ta-font-main: $body-font;

body {
  font-family: $body-font;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
button,
input,
textarea,
select {
  font-family: $headers-font;
}
